<h2 class="header center orange-text">Update course information</h2>
<form ng-submit="submitUpdate()">
  <p>
    <label>key:</label>
    <input type="text" ng-model="course.key" disabled="true" />
  </p>
  <p>
    <label>Name:</label>
    <input type="text" ng-model="course.name" autofocus="true" />
  </p>
  <p>
    <label>Description:</label>
    <input type="text"  ng-model="course.description" />
  </p>
  <p>
    <label>Lang:</label>
    <input type="text"  ng-model="course.lang" />
  </p>
  <input type="submit" class="btn-large waves-effect waves-light orange" />
</form>
